extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='genre_name') Genre:
      input#artist.form-control(type='text' placeholder='Genre name' name='genre_name' required='true' value=(undefined === genre ? '' : genre.name) )

  if errors
    ul
      for error in errors
        li!= error.msg
