extends layout 

block content 
  h1= title 
  h5 Welcome to #[em Super Awesome Music Inventory]

  h4 Super Awesome Music Inventory currently has  the following record counts: 

  ul 
    li #[strong Songs:] !{song_count}
    li #[strong  Artists:] !{artist_count}
    li #[strong Genres:] !{genre_count}
